@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
	-webkit-text-stroke-width: 0px !important;
	-webkit-font-smoothing: antialiased;
}

@layer base {
	.font-outline-1 {
		-webkit-text-stroke: 1px white;
	}
	.font-outline-1-gray {
		-webkit-text-stroke: 1px #5a5a5a;
	}
	.font-outline-2 {
		-webkit-text-stroke: 2px white;
	}
	.font-outline-3 {
		-webkit-text-stroke: 2px white;
	}
	.font-outline-4 {
		-webkit-text-stroke: 4px white;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

html {
	color: rgb(var(--foreground-rgb));
	width: 100%;
	font-size: 10pt;
	background-color: #3333;
	-webkit-text-stroke-width: 0px !important;
}

.landing-bg {
	background-color: #333;
	background-size: cover;
	background-position: center;
	background-image: url("../../public/images/gabriel-garcia-marengo-qJvpykJ5SKs-unsplash.jpg");
	opacity: 0;
	animation: fadeIn 3s ease-in-out 0.7s forwards;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes moveIt {
	from {
		background-position: bottom left;
	}
	to {
		background-position: top right;
	}
}

@layer utilities {
	@layer components {
		/* Hide scrollbar for Chrome, Safari and Opera */
		.no-scrollbar::-webkit-scrollbar {
			display: none;
		}

		/* Hide scrollbar for IE, Edge and Firefox */
		.no-scrollbar {
			-ms-overflow-style: none; /* IE and Edge */
			scrollbar-width: none; /* Firefox */
		}
	}
}

body,
html {
	margin: 0;
	height: 100vh;
	overflow: auto;
	overflow-x: hidden;
	scroll-behavior: smooth;
	background-color: "#333333";
}

.no-scrollbar::-webkit-scrollbar {
	display: none;
}

html,
body {
	height: 100%;
	margin: 0;
	font-synthesis: none;
}

.hide-scrollbar::-webkit-scrollbar {
	display: none;
}

.hide-scrollbar {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.impressum-text-styling > h1 {
	font-family: var(--font-clash);
	color: theme("colors.neutral.100");
	font-size: 3.4rem;
	margin-top: 4rem;

	font-weight: 600;
}

.impressum-text-styling > h2 {
	font-family: var(--font-clash);
	color: theme("colors.neutral.100");
	font-size: 2.4rem;
	font-weight: 550;
	margin: 2rem 0;
}

.impressum-text-styling > p {
	font-family: var(--font-clash);
	color: theme("colors.neutral.400");
	font-weight: 450;
	font-size: 2rem;
}

.contact-text-styling > h1 {
	font-family: var(--font-clash);
	color: theme("colors.neutral.100");
	font-size: 3.4rem;
	margin-top: 4rem;
	font-weight: 600;
}

.contact-text-styling > h2 {
	font-family: var(--font-clash);
	color: theme("colors.neutral.100");
	font-size: 2.4rem;
	font-weight: 550;
	margin-top: 3rem;
	margin-bottom: 1rem;
}

.contact-text-styling > p {
	font-family: var(--font-clash);
	color: theme("colors.neutral.400");
	font-weight: 450;
	font-size: 2rem;
}

.services-text-styling > h2 {
	font-family: var(--font-clash);
	color: theme("colors.neutral.300");
	font-size: 3.6rem;
	font-weight: 550;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.services-text-styling h3 {
	font-family: var(--font-clash);
	color: theme("colors.neutral.300");
	font-size: 3.6rem;
	font-weight: 550;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.services-text-styling h4 {
	font-family: var(--font-clash);
	position: absolute;
	color: theme("colors.neutral.300");
	font-size: 7rem;
	font-weight: 550;
	margin-top: 1rem;
	margin-bottom: 1rem;
}



.services-text-styling .list-1 {
	list-style-type: disc;
	color: theme("colors.neutral.400");
	font-family: var(--font-clash);
	font-size: 3rem;
	font-weight: 550;
	margin-left: 8%;
}

.services-text-styling .list-2 {
	list-style-type: none;
	text-wrap: pretty;
	display: flex;
	/* flex-wrap: wrap; */
	color: theme("colors.neutral.400");
	font-family: var(--font-clash);
	font-size: 3rem;
	font-weight: 550;
	height: 200px;
	gap: 10px;
	line-height: 40px;
}

.services-text-styling .list-2 li {
	transform: rotate(-45deg);
	margin-left: -60px;
}
